
.quiz-title-row {
  min-height: 200px;
}

.quiz-title {
  width: 100%;
  text-align: center;
}

.card-padding {
  width: 50%;
  display: table-cell;
}

.card-row {
  display: table-row;
}

.quiz-card {
  margin-top: 20px;
}

.icon-success {
  color: green;
}

.icon-fail {
  color: red;
}

.result-icon-container .result-icon {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 5px;
}

.result-icon-container {
  text-align: center;
}
